%selects {
  margin: 15px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.forms {
  display: flex;
}

.author {
  @extend %selects;
}

.genre {
  @extend %selects;
}
